.container{
    display: flex;
    flex-direction: column;
    margin: 15vh;
}

.todo-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    color: white;
}